*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width:90% ;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b548a );
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.b1{
    display:flex;
    justify-content: space-between;
}
#input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 35px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
    height: 60px;
   
}
#search{
    height: 55px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
#sun{
    margin-top: 50px;
    height: 147px;
    margin-bottom:15px ;

}
.humidity{
    margin-right: 200px;
    display: flex;
}

.down{
    display: flex;
    margin-top: 50px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;


}
.col img{
    width: 40px;
    margin-right: 10px;

}
.card button{
    border:0 ;
    border-radius: 50%;
}
.humi{
    margin-top: -6px;
}
.windspeed{
    margin-top: -6px;
}